<h1>Welcome to the infamous TRIANGLE MAKER</h1>
<h2>Three Angles Enter...One Triangle Leaves</h2>
<h2>Please enter in 3 different side lengths.</h2>

<form action="/triangle_results">

  <div class="form-group">
    <label for="side_a">Enter Side-A Length</label>
    <input id="side_a" name="side_a" class="form-control" type="text">
    </br>
  </div>

  <div class="form-group">
    <label for="side_b">Enter Side-B Length</label>
    <input id="side_b" name="side_b" class="form-control" type="text">
    </br>
  </div>

  <div class="form-group">
    <label for="side_c">Enter Side-C Length</label>
    <input id="side_c" name="side_c" class="form-control" type="text">
    </br>
  </div>

  <button type="submit" class="btn btn-warning">Go!</button>
</form>
