<h1>Your Triangle</h1>

<h2>Your sides will create a <%= @result %> triangle.</h2>

<h2>The three sides you entered are:</h2>
<ul>
  <li>Side A: <%= @sideA %></li>
  <li>Side B: <%= @sideB %></li>
  <li>Side C: <%= @sideC %></li>
</ul>
